<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h3>商品編集</h3>
    <div>
        <%= form_with model: @item, url: admin_item_path, method: :patch do |f| %>

        <div>商品情報　　　<%= f.file_field :image, accept: "image/*" %></div>
        <div>商品名　　　　<%= f.text_field :name %></div>
        <div>商品説明　　　<%= f.text_area :introduction %></div>
        <div>商品価格　　　<%= f.text_field :price %> <%= '円' %></div>
        <div><%= f.submit "変更を保存", class:'btn btn-primary btn-success' %></div>
        <% end %>
    </div>
  </div>
 </div>
</div>