<h3>商品一覧</h3>

<table>
  <head>
    <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ステータス</th>
    </tr>
  </head>
  <% @item.each do |item| %>
  <tbody>
    <tr>
    <td><%= item.id %></td>
    <td><%= link_to item.name, admin_item_path(item.id) %></td>
    <td><%= item.introduction %></td>
    <td><%= item.price %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @item %>