<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h3>商品詳細</h3>
     <div class="d-flex">
       <div><%= image_tag @item.get_image(150,100) %></div>
       <div class="d-flex flex-column">
        <table>
          <tbody>
            <tr>
              <td>商品名　　　　　　　　　　<%= @item.name %></td>
            </tr>
            <tr>
              <td>商品説明　　　　　　　　　<%= @item.introduction %></td>
            </tr>
            <tr>
              <td>税込価格(税抜価格)　　　　<%= (@item.price * 1.1).floor %>(<%= @item.price %>)<%= '円' %></td>
            </tr>
          </tbody>
        </table>
         <p><%= link_to "編集",edit_admin_item_path, class:'btn btn-primary', class:'btn btn-success' %></p>
    </div>
   </div>
  </div>
 </div>
</div>
