<h3>商品詳細</h3>

<%= @item.image %>
<table>
  <tbody>
    <tr>
      <td>商品名</td>
      <td><%= @item.name %></td>
    </tr>
    <tr>
      <td>商品説明</td>
      <td><%= @item.introduction %></td>
    </tr>
    <tr>
      <td>税込価格(税抜価格)</td>
      <td>(<%= @item.price %>)<%= '円' %></td>
    </tr>
  </tbody>
</table>
<p><%= link_to "編集",edit_admin_item_path, class:'btn btn-primary', class:'btn btn-success' %></p>
