<div class="container">
 
  <h3><%= @customer.first_name %><%= @customer.last_name %><%= 'の会員情報編集' %></h3>
  <div class="row-16">
   <%= form_with model: @customer, url: admin_customer_path(@customer.id) do |f| %>
   <table class="col-12">
    <body>
     <tr>
      <td><strong>会員ID</strong></td>
      <td><%= @customer.id %></td>
     </tr>
     <tr>
      <td><strong>氏名</strong></td>
      <td><%= f.text_field :first_name %><%= '   '%><%= f.text_field :last_name %></td>
     </tr>
     <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :first_name_kana %><%= '   '%><%= f.text_field :last_name_kana %></td>
     </tr>
     <tr>
      <td><strong>郵便番号</strong></td>
      <td><%= f.text_field :postal_code %></td>
     </tr>
     <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
     </tr>
     <tr>
      <td><strong>電話番号</strong></td>
      <td><%= f.text_field :telephone_number %></td>
     </tr>
     <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
     </tr>
     <tr>
      <td></td>
      <td><%= f.submit '編集を保存', class:'btn btn-primary btn-success' %></td>
     </tr>
    </body>
   </table>
  <% end %>
 </div>
</div>