<div class="container">
 <div class="row">
    <h3>会員一覧</h3>
    
    <table class="col-md-12">
      <head>
        <tr>
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </head>
      <% @customer.each do |customer| %>
      <body>
        <tr>
          <td><%= customer.id %></td>
          <td><%= link_to customer.first_name, admin_customer_path(customer.id) %><%= link_to customer.last_name, admin_customer_path(customer.id) %></td>
          <td><%= customer.email %></td>
          <% if customer.is_deleted %>
                 <td>退会</td>
                <% else %>
                 <td>有効</td>
          <% end %>
        </tr>
      </body>
      <% end %>
    </table>
 </div>
</div>
<%= paginate @customer %>