<div class="container">
 <div class="row">
  <h3><%= @customer.first_name %><%= @customer.last_name %><%= 'の詳細画面' %></h3>
  <table class="col-md-10">
    <body>
      <tr>
        <td><strong>会員ID</strong></td>
        <td><%= @customer.id %></td>
      </tr>
      <tr>
        <td><strong>氏名</strong></td>
        <td><%= @customer.first_name %><%= ' ' %><%= @customer.last_name %></td>
      </tr>
      <tr>
        <td>フリガナ</td>
        <td><%= @customer.first_name_kana %><%= ' ' %><%= @customer.last_name_kana %></td>
      </tr>
      <tr>
        <td><strong>郵便番号</strong></td>
        <td><%= @customer.postal_code %></td>
      </tr>
      <tr>
        <td>住所</td>
        <td><%= @customer.address %></td>
      </tr>
      <tr>
        <td><strong>電話番号</strong></td>
        <td><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <td>メールアドレス</td>
        <td><%= @customer.email %></td>
      </tr>
      <tr>
        <td>会員ステータス</td>
        <% if @customer.is_deleted %>
                 <td>退会</td>
                <% else %>
                 <td>有効</td>
          <% end %>
      </tr>
      <tr>
        <td></td>
        <td><%= link_to "編集する",edit_admin_customer_path, class:'btn btn-success' %><%= link_to '注文履歴一覧を見る',admin_path, class:'btn btn-primary' %></td>
      </tr>
    </body>
 </div>
</div>