<div class='container'>
 <h4>注文履歴詳細</h4>
  <table>
   <body>
    <tr>
      <td class='col-2'><strong>購入者<strong></td>
      <td class='col-6'><%= @customer.first_name %><%= @customer.last_name %></td>
    </tr>
    <tr>
      <td class='col-2'><strong>注文日</strong></td>
      <td class='col-6'><%= @order.created_at.strftime("%Y/%m/%d %H:%M") %></td>
    </tr>
    <tr>
      <td class='col-2'><strong>発送先</strong></td>
      <td class='col-6'><%= '〒' %><%= @order.postal_code %><%= @order.address %><%= @order.name %></td>
    </tr>
    <tr>
     <td class='col-2'><strong>支払方法</strong></td>
     <td class='col-6'><%= @order.payment_method_i18n %></td>
     </tr>
      <table>
       <tr>
        <head>
         <th class='col-2'>商品名</th>
         <th class='col-2'>単価(税込)</th>
         <th class='col-2'>数量</th>
         <th class='col-2'>小計</th>
        </head>
       </tr>
        <body>
         <% @order_products.each do |p| %>
         <tr>
         
         <td class='col-2'><%= p.item.name %></td>
         <td class='col-2'><%= (p.price * 1.1).floor %></td>
         <td class='col-2'><%= p.amount %></td>
         <td class='col-2'><%= p.amount * (p.price * 1.1).floor %></td>
         
        <tr>
         <% end %>
         <tr>
          <td><strong><%= '商品合計' %></strong><%= @order.payment_amount %><%= '円' %></td>
         <tr>
         <tr>
          <td><strong><%= '送料' %></strong><%= @order.postage %><%= '円' %></td>
         </tr>
         <tr>
          <td><strong><%= '請求金額合計' %></strong><%= @order.payment_amount + @order.postage %><%= '円' %></td>
         </tr>
       </tr>
       </body>
      </table>
   </body>
  </table>
  <div></div>
  <div></div>
  <div></div>
</div>