<div class="container">
  <div class="row-12">
   <div class="col">
     <div class="text-center">
     <p>ようこそ、ながのCAKEへ!</p>
     <p>このサイトは、ケーキ販売のECサイトになります。</p>
     <p>会員ではない方も商品の閲覧はできますが、</p>
     <p>購入には会員登録が必要になります。</p>
     </div>
   </div>
  </div>
    <h3>新着商品</h3>
  <div class="row-12">
    <div class='d-flex flex-row'>
   <% @items.each do |item| %>
   <div class="p-3">
   <div class="d-flex flex-column">
    <div><%= image_tag item.get_image(200,200) %></div>
    <div><%= item.name %></div>
    <div><%= '¥' %><%= item.price %></div>
   </div>
   </div>
   <% end %>
  </div>
  </div>
   <div class='row-12'>
    <div class="text-right"><%= link_to 'すべての商品を見る>', items_path %></div>
   </div>
 </div>