<div class="container">
 <div class="row">
  <h4>ショッピングカート</h4>
   <div class="col-12">
    <div>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<%= link_to "カートを空にする", cart_items_destroy_all_path , method: :delete , "data-confirm" => "商品を削除しますか？" , class: "btn btn-danger"%></div>
    <table class="table table-bordered">
     <thead>
      </tr>
      <tr>
       <th class="col-2">商品名</th>
       <th class="col-1">単価(税込み)</th>
       <th class="col-2">数量</th>
       <th class="col-1">小計</th>
       <th class="col-1"></th>
      </tr>
     </thead>
      <tbody>
       <% @cart_item.each do |cart_item| %>
      <tr>
       <td class="col-2"><%= cart_item.item.name %></td>
       <td class="col-1"><%= cart_item.item.with_tax_price%></td>
       <td class="col-2">
        <%= form_with model:cart_item, url:cart_item_path(cart_item.id) , local:true do |f| %>
          <%= f.select :amount, *[1..10] %>
          <%= f.submit "変更" , class: "btn btn-primary" %>
        <% end %>
       </td>
       <td class="col-1"><%= cart_item.subtotal%><%= '円' %></td>
       <td class="text-center"><%= link_to "削除", cart_item_path(cart_item.id) , method: :delete , "data-confirm" => "商品を削除しますか？" , class: "btn btn-danger"%></td>
      </tr>
       <% @sum += cart_item.subtotal %><%= '円' %>
      <% end %>
      </tbody>
    </table>
       <div>　　　　　　　　　　　　　　　　　　　　<%= link_to '買い物を続ける', items_path, class: "btn btn-primary" %></div>
       <div>　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　　<%= '合計金額' %>　　<%= @sum %><%= "円" %></div>
       <div  class="text-center"><%= link_to '注文情報入力に進む',orders_new_path,class: "btn btn-success" %></div>
   </div>
 </div>
</div>
