<div class="container">
 <div class="row">
  <h4>注文情報</h4>
   <div class="col-12">
    <div>
     <h4>支払方法</h4>
      <%= form_with model: @order, url: orders_confirm_path do |f| %>
       <%= '　' %><%= f.radio_button :payment_methods, "credit_card" %>
       <%= f.label :payment_method_credit_card, "クレジットカード" %><br>
       <%= '　' %><%= f.radio_button :payment_methods, "transfer" %>
       <%= f.label :payment_method_transfer, "銀行振込" %>
      <% end %>
    </div>
    <div>
     <h4>お届け先</h4>
     <%= form_with model: @customer do |f| %>
     <%= '　' %><%= f.radio_button :address, "adress" %>
     <%= f.label :address_adress, "ご自身の住所" %>
     <% end %>
    </div>
   </div>
 </div>
</div>