<div class='container'>
  <h4>注文履歴詳細</h4>
   <div class="d-flex">
    <div class='row-8'>
     <div class="col">
      <div><strong>注文情報</strong></div>
      <table class="table table-bordered">
        <body>
         <tr>
           <td>注文日</td>
           <td><%= @order.created_at.strftime("%Y/%m/%d") %></td>
         </tr>
         <tr>
           <td>発送先</td>
           <td><%= '〒' %><%= @order.postal_code %><br><%= @order.address %><br><%= @order.customer.first_name %><%= @order.customer.last_name %></td>
         </tr>
         <tr>
          <td>支払方法</td>
          <td><%= @order.payment_method_i18n %></td>
         </tr>
        </body>
      </table>
     </div>
    </div>
    <div class='row-4'>
     <div class="col">
      <div><strong>請求情報</strong></div>
      <table class="table table-bordered">
        <body>
         <tr>
          <td>商品合計</td>
          <td><%= @order.payment_amount %><%= '円' %></td>
         </tr>
          <tr>
           <td>配送料</td>
           <td><%= @order.postage %><%= '円' %></td>
          </tr>
          <tr>
           <td>ご請求額</td>
           <td><%= @order.payment_amount + @order.postage %><%= '円' %></td>
          </tr>
        </body>
      </table>
     </div>
    </div>
   </div>
    <div class="row-12">
     <div><strong>注文内容</strong></div>
     <table class="table table-bordered">
      <body>
       <tr>
        <td>商品</td>
        <td>単価(税込)</td>
        <td>個数</td>
        <td>小計</td>
       </tr>
      <% @order.order_products.each do |p| %>
       <tr>
        <td><%= p.item.name %></td>
        <td><%= (p.price * 1.1).floor %><%= '円' %></td>
        <td><%= p.amount %></td>
        <td><%= p.amount * (p.price * 1.1).floor %><%= '円' %></td>
       </tr>
      </body>
      <% end %>
     </table>
    </div>
</div>