<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h3>商品詳細</h3>
     <div class="d-flex">
        
  <%= image_tag @item.get_image(150,100) %>
  <div class="d-flex flex-column">
  <div><%= @item.name %></div>
  <div><%= @item.introduction %></div>
  <div><%= @item.price %>)<%= '円' %></div>
     </div>
   </div>
  </div>
 </div>
</div>
