<div class="container">
 <div class="row">
  <div class="col-md-12">
   <h3>商品詳細</h3>
     <div class="d-flex">
        
  <%= image_tag @item.get_image(150,100) %>
  <div class="d-flex flex-column">
  <div><%= @item.name %></div>
  <div><%= @item.introduction %></div>
  <div><%= @item.price %>)<%= '円' %></div>
  <div>
   <%= form_with model: @cart_item_new, url: cart_items_path,method: :post do |f| %>
    <%= f.hidden_field :item_id, value: @item.id %>
    <%= f.select :amount, *[1..10] %>
    <%= f.submit 'カートにいれる' %>
   <% end %>
  </div>
     </div>
   </div>
  </div>
 </div>
</div>
