<!DOCTYPE html>
<html>
  <head>
    <title>Cake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <script src="https://kit.fontawesome.com/f8d0447241.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container">
          <a class="navbar-brand p-3" href="/">LOGO</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
          　<% if customer_signed_in? %>
            <li class="nav-item">
              <p>About</p>
            </li>
            <li class="nav-item">
              <p>商品一覧</p>
            </li>
            <li class="nav-item">
              <p>カート</p>
            </li>
            <li class="nav-item">
               <%= link_to destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
                 ログアウト
               <% end %>
            </li>
            <% else %>
            <li class="nav-item">
              <p>About</p>
            </li>
            <li class="nav-item">
              <p>商品一覧</p>
            </li>
            <li class="nav-item">
              <p>ログアウト</p>
            <li class="nav-item">
              <p>新規登録</p>
            </li>
            <li class="nav-item">
              <p>ログイン</p>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>